body {
        background-color:#fdf6e3;
        color:#657b83;
} 

h1, h2 {
        color:#586e75;
}

p {
        font-size: 1.25em;
}

ol {
        font-size: 1.25em;
}

/* unvisited link */
a:link {
  color:#268bd2;
}

/* visited link */
a:visited {
  color:#cb4b16;
}

/* mouse over link */
a:hover {
  color:#d33682;
}

/* selected link */
a:active {
  color:#d33682;
} 

footer {
        text-align: center;
        font-size: 0.75em;
        font-weight: normal;
        font-family: "Courier New", Courier, monospace;
        color: #586e75;
}

.bcolor {
        color:#6c71c4;
}
