body {
        background-color:#002b36;
        color:#839496;
        font-family: "Courier New", Courier, monospace;
}

p {
        font-size: 1.25em;
        font-weight:bold;
}

/* unvisited link */
a:link {
  color:#268bd2;
}

/* visited link */
a:visited {
  color:#cb4b16;
}

/* mouse over link */
a:hover {
  color:#d33682;
}

/* selected link */
a:active {
  color:#d33682;
} 

footer {
        text-align: center;
        font-size: 0.75em;
        font-weight: normal;
        font-family: "Courier New", Courier, monospace;
        color: #586e75;
}
